{% extends "main.html" %} 

<!-- Content --> 
{% block content %} 
  <h1>404 - Page not found!</h1> 

<p>Sadly we don't know the page you were looking for anymore!</p>

<p>Maybe the following links can help you:</p>

<ol>
  <li>The <a href="/">OWASP Top 10 Proactive Controls start page</a></li>
  <li>There are also the <a href="/introduction/old-versions-and-translations">2016/20128 versions of the OWASP Top 10 Proactive Controls</a></li>
  <li>Or maybe you're looking for <a href="/introduction/old-versions-and-translations">translated versions of the OWASP Top 10 Proactive Controls</a></li>
</ol>

{% endblock %} 
