{% comment %} rm the first H1  {% endcomment %}
<style type="test/css">
  .sec-main h1 {display: none; }
  div.nav ol .page  {display: inline-block;  line-height: 1.0; font-size: 14px; margin: 0px;} 
</style>


{% assign spages = site.pages | where:"document","OWASP Top Ten Proactive Controls 2024"| sort: "order" }
{% assign getnext = false %}
{% assign getprevious = true %}
{% for cs in spages %}
    {% if getnext %}
        {% assign next = cs %}
        {% break %}
    {% endif %}
    {% if cs.url == page.url %}
        {% assign getnext = true %}
        {% assign getprevious = false %}
    {% endif %}
    {% if getprevious %}
        {% assign previous = cs %}
    {% endif %}
{% endfor %}
         
         
<div class="nav" aria-label="navigate page">
    <ol>
    {% if previous %}
    {% if dev_file.size == 0 %}
    {% assign href = site.github.url | append: previous.url | replace: "www2.", "" | replace: ".html", "" | replace: 'http://', 'https://' %}
    {% else %}
    {% assign href = previous.url %}
    {% endif %}
    <li class='page previous'><a href="{{ href }}"><span style="font-size: 3em; color: lightgray; vertical-align:middle;">
     <i class="fas fa-angle-left"></i>
    </span>{{ previous.title }}</a></li>
    {% endif %}
            {% if next %}
              {% if dev_file.size == 0 %}
              {% assign href = site.github.url | append: next.url | replace: "www2.", ""  | replace: ".html", "" | replace: 'http://', 'https://' %}
              {% else %}
              {% assign href = next.url %}
              {% endif %}
              <li class='page next'><a href="{{ href }}">{{ next.title }}<span style="font-size: 3em; color: lightgray; vertical-align:middle;">
                  <i class="fas fa-angle-right"></i>
                </span></a></li>
     {% endif %}
  </ul>
 </div>