name: CI pipeline
on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

# for security reasons the github actions are pinned to specific release versions
jobs:
  link_checker:
    name: Link checker
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v5

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.6.1
        with:
          args: --no-progress --max-retries 5 --exclude-path './docs/archive/' './docs/**/*.md'
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

  md_linter:
    name: Lint markdown
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v5

      - name: Lint markdown
        uses: DavidAnson/markdownlint-cli2-action@v16.0.0
        with:
          config: '.markdownlint.yaml'
          globs: './docs/**/*.md'

  spell_checker:
    name: Check spelling
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout markdown
        uses: actions/checkout@v5

      - name: spell_checker
        uses: rojopolis/spellcheck-github-actions@0.52.0